.bash_history
.bash_logout
.cache/
.viminfo
replica.my.cnf
replica.my.cnf.save
.config/hub
.ssh/
.links2/
.joe_state
.elinks/
.vim/plugged/
.vim/plugged/vim-airline/
.vim/plugged/*
.vim/autoload/
.composer/
.*.swp
.npm/
.tmux/
.virtualenvs/
envs/
local/
node_modules/
*.err
*.out
.*_history
